html{
    height: 100%;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw; /* corregido: el ancho debe ser el del viewport */
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: stretch;
    background-image: url(../image/background.jpg);
    background-color: rgb(197, 195, 195);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    font-family: "Lato", serif, sans-serif;
    font-weight: 300;
    font-style: normal;
}
.contenedor h2{
    color: #dda15e;
    text-shadow: 5px 5px 3px rgba(1, 1, 1, 0.2);
    text-align: center;
    padding: 0px 0px 30px;
    margin: 0 0 30px;
    font-size: 40px;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contenedor .button input{
   width: 50%;
   border-radius: 500px;
   padding: 15px 15px;
   margin: 10px auto;
   background-color: #a26127;
   color: #fefae0;
   border: none;
   cursor: pointer;
   box-shadow: 0px 5px 3px 3px rgba(1, 1, 1, 0.1);
}
.top-bar {
    position: absolute;
    top: 5px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 10;
}
.backArrow{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.home-icon {
    width: 40px;
    height: 40px;
    font-size: 2em;
    color: #90b067;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}
.backArrow:hover,
.home-icon:hover {
    transform: scale(1.5);
    transition: transform 0.5s ease;
}
